<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net451" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net451" />
</packages>